.candidate-card {
  /* padding: var(--mantine-spacing-md); */
  display: flex;
  /* gap: var(--mantine-spacing-xs); */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  overflow: hidden;
  transition: all 200ms ease-in-out;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }

  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-gray-9)
  );
  border-radius: var(--mantine-radius-md);
  /* border: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8)); */
  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-5)
    );
  }
}
