.navbar {
  /* background-color:
      theme.colorScheme === "dark" ? theme.colors.dark[7] : theme.white, */
}

.link {
  /* ...theme.fn.focusStyles(), */
  width: "100%";
  display: "flex";
  align-items: "center";
  text-decoration: "none";
  font-size: var(--mantine-font-size-sm);
  /* color:
      theme.colorScheme === "dark"
        ? theme.colors.dark[1]
        : theme.colors.gray[7], */
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  /* "&:hover" {
      backgroundColor:
        theme.colorScheme === "dark"
          ? theme.colors.dark[6]
          : theme.colors.gray[0]; */
  /* color: theme.colorScheme === "dark" ? theme.white : theme.black; */

  /* [`& .${getStylesRef("icon")}`] {
        color: theme.colorScheme === "dark" ? theme.white : theme.black,
      },
    }, */
}

.linkIcon {
  /* ref: getStylesRef("icon"); */
  width: "1.25rem";
  /* color:
      theme.colorScheme === "dark"
        ? theme.colors.dark[2]
        : theme.colors.gray[6], */
  margin-right: var(--mantine-spacing-sm);
}

.linkActive {
  /* "&, &:hover" {
      backgroundColor: theme.fn.variant({
        variant: "light";
        color: theme.primaryColor;
      }).background,
      color: theme.fn.variant({ variant: "light", color: theme.primaryColor })
        .color,
      [`& .${getStylesRef("icon")}`]: {
        color: theme.fn.variant({ variant: "light", color: theme.primaryColor })
          .color,
      },
    }, */
}
