.partylist-card {
  display: flex;
  flex-direction: column;
  padding: var(--mantine-spacing-md);
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 200px;
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-gray-9)
  );
  border-radius: var(--mantine-radius-md);
  border: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
}
