@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
    html {
        font-family: Inter, system-ui, sans-serif;
    }
}

.ReactTags__tags {
    width: 100%;
}

.ReactTags__tagInput {}

.ReactTags__tagInputField {
    outline: none;
    border: none;
    padding: .5rem;
    border: 1px solid gray;
    /* background-color: blue; */
}

.ReactTags__selected {
    display: flex;
    flex-direction: column;
}

.ReactTags__selected .ReactTags__tag {
    padding: .5rem;

}

.ReactTags__selected .ReactTags__remove {
    margin-left: 1rem;
}

.ReactTags__editTagInput {
    display: flex;

}

.ReactTags__editTagInputField {
    outline: none;
    border: none;
}

.ReactTags__clearAll {
    border: 1px solid gray;
    padding: .5rem;
}